@import-normalize;

* {
  font-family: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body,
html,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

.svg-inline--fa.fa-fw {
  width: 1em;
}
